div.tabArea{
	font-size:80%;
	font-weight: bold;
}

div.wrapper{
	width: 100%;
}

iframe.tabContent {
	/* so we fill the wrapper both horizontally and vertically */
	width: 100%;
	height: 80%;
}

a.tab{
	padding: 2px 1em 2px 1em;
	position: relative;
	text-decoration: none;
	color: #000000;
	top: -1px;
	z-index: 100;
}

a.tab.activeTab, a.tab.activeTab:hover, a.tab.activeTab:visited {
	background-color: #F4F2F3;
	/*color: #000000;

	/* I like this because it makes it look like the 
		active tab is part of the document. Nice */
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}

a.tab:hover {
	background-color: #d0d0d0;
	color: #606060;
}

div.tabMain{
	background-color:#F4F2F3;
	border: 1px solid #000000;
	padding: 1em;
}
